body{
    margin: 0px;
    background-color: peachpuff;
}

h1{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    background-color: aliceblue;
    padding: 0px;
    margin: 0px;
    font-family: 'Sixtyfour', sans-serif;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    text-align: center;
}
h5{
    font-size: 32px;
    font-weight: bold;
}


.navbar ul{
    list-style: none;
    background-color: darkslategrey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    justify-content: space-around;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0, 10);
}
.navbar li{
    float: left;
}

img{
    display: block;
    margin: 0 auto;
}
.main1{
    border-style: none;
    border: 2px solid black;
    
}
.intro{
    font-size:  25px; ;
    margin: 30px;
    text-align: left;
}
p{
    font-size:  25px; ;

}

